<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si instalas en subcarpeta (ej: /tdm3), Apache la detecta automáticamente
    # cuando este .htaccess está en la raíz del proyecto.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L,QSA]
</IfModule>

DirectoryIndex index.php
